body {
  background-color: rgb(26, 26, 26);
  color: white;
}
a {
  font-size: 2rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 750px) {
  .p-5 {
    padding: 2% !important;
  }
}
canvas:first-child {
  min-height: 500px;
}
