/* Basic Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

/* Colors */
:root {
  --bg-dark-1: rgb(26, 26, 26);
  --bg-dark2: #0c0c0c;
}

body {
  background-color: var(--bg-dark-1);
  color: white;
}

main > section.space-top {
  padding-top: 70px;
}

/*Navbar*/

nav {
  background-color: var(--bg-dark2);
  padding: 0;
}

nav li {
  transition: 0.35s all ease;
}
nav li {
  padding: 0px 0;
  margin-right: 0.5em;
}

nav img.logo {
  background-color: #ffffff;
}

.navbar-brand {
  padding: 0.9em 0;
}

/* Content */

main {
  margin-top: 250px;
}

body > footer {
  padding: 3% 0;
  margin-top: 150px;
  background-color: var(--bg-dark2);
  text-align: center;
  font-size: 1.25rem;
}

body > footer article > a {
  color: white;
  font-size: 2.35rem;
  transition: all ease 0.4s;
}

body > footer article > a:hover {
  color: rgb(219, 219, 219);
  font-size: 2.75rem;
}

@media (max-width: 750px) {
  .p-5 {
    padding: 2% !important;
  }
}
canvas:first-child {
  min-height: 500px;
}

@media (max-width: 910px) {
  nav li {
    padding: 0;
  }
}
